/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

.dashboard-container .dashboard-cntrl.left::before, .dashboard-container .dashboard-cntrl.right::before {
  display: inline-block;
  position: relative;
  top: 15px;
  left: 15px; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #A1A1A1; }

h1 {
  font-size: 30px;
  font-family: "open-sans", sans-serif; }

h3 {
  margin: 10px 0; }

.container-main {
  width: 960px;
  margin: 50px auto 0;
  border-radius: 10px;
  background-color: #fff; }

.container-inner {
  padding: 40px; }
  .container-inner > div {
    margin-top: 40px; }

.container-report-dropdown .container-report-dropdown-click,
.container-report-dropdown .container-report-dropdown-hover {
  float: left; }
.container-report-dropdown .container-report-dropdown-hover {
  margin-left: 50px; }
.container-report-dropdown .settings-icon {
  background: url("../img/settings-icon.png") no-repeat;
  display: block;
  width: 50px;
  height: 50px; }
  .container-report-dropdown .settings-icon ul {
    display: none;
    padding: 15px;
    width: 140px;
    position: relative;
    background-color: #F7F7F7;
    top: 50px;
    border-radius: 15px;
    z-index: 10; }
    .container-report-dropdown .settings-icon ul li {
      margin: 10px 0;
      padding: 0 5px; }
.container-report-dropdown > div {
  margin-top: 30px; }
.container-report-dropdown a {
  text-decoration: none;
  color: #000; }
  .container-report-dropdown a:hover {
    text-decoration: underline; }

.dashboard-graph-shim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(124, 124, 124, 0.8);
  display: none; }
  .dashboard-graph-shim .dashboard-graph-popup-container {
    position: relative;
    margin-top: 5%;
    margin-left: 21%;
    z-index: 100; }
    .dashboard-graph-shim .dashboard-graph-popup-container .dashboard-graph-user-container {
      position: absolute;
      top: 382px;
      left: 707px;
      opacity: 0;
      transition: opacity 1s ease-in-out; }
      .dashboard-graph-shim .dashboard-graph-popup-container .dashboard-graph-user-container.show {
        opacity: 1; }
      .dashboard-graph-shim .dashboard-graph-popup-container .dashboard-graph-user-container a {
        text-decoration: none;
        padding: 6px 10px;
        background-color: #454545;
        border-radius: 8px;
        color: #fff; }

.dashboard-container {
  margin-top: 30px; }
  .dashboard-container .dashboard-cntrl {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: #FFBD00; }
    .dashboard-container .dashboard-cntrl.left::before {
      content: "left"; }
    .dashboard-container .dashboard-cntrl.right::before {
      content: "right"; }
  .dashboard-container .dashboard-window {
    overflow: hidden; }
  .dashboard-container .dashboard-content {
    margin-top: 30px;
    transition: transform .8s ease-in-out; }
    .dashboard-container .dashboard-content.slide {
      transform: translateX(-60%); }

.container-alerts #alert-btn {
  margin-top: 15px; }

.alert-container {
  width: 370px;
  display: block;
  background-color: #f0f0f0;
  margin-top: 30px;
  padding: 18px 0;
  border-radius: 10px; }
  .alert-container a {
    text-decoration: none; }
  .alert-container .alert-icon {
    font: 30px "open-sans";
    font-weight: bolder;
    padding: 2px 15px;
    margin: 0 20px;
    background-color: #ec3200;
    color: #fff;
    text-decoration: none;
    display: inline-block; }
    .alert-container .alert-icon.expand {
      -webkit-animation: growskrink 1.5s 1 ease-in-out;
      animation: growskrink 1.5s 1 ease-in-out; }
  .alert-container .alert-text-container {
    display: inline-block;
    font-family: "open-sans", arial; }
    .alert-container .alert-text-container .alert-red {
      font-weight: bold;
      color: #ec3200; }
    .alert-container .alert-text-container .time-notice {
      font-size: 11px;
      position: relative;
      top: 5px; }

@-webkit-keyframes growskrink {
  25% {
    transform: scale(1); }
  50% {
    transform: scale(2); }
  75% {
    transform: scale(1); } }
@keyframes growskrink {
  25% {
    transform: scale(1); }
  50% {
    transform: scale(2); }
  75% {
    transform: scale(1); } }
.catalog-container {
  overflow: hidden;
  margin-top: 40px;
  border: 1px solid #aaaaaa;
  padding: 10px 5px; }
  .catalog-container > * {
    float: left; }
  .catalog-container .catalog-copy-container {
    width: 690px;
    margin-left: 20px; }
    .catalog-container .catalog-copy-container .catalog-copy-head {
      overflow: hidden;
      margin-bottom: 20px;
      margin-top: 15px; }
      .catalog-container .catalog-copy-container .catalog-copy-head h3 {
        float: left;
        margin-top: 10px;
        font-size: 25px; }
      .catalog-container .catalog-copy-container .catalog-copy-head a {
        float: right;
        text-decoration: none;
        padding: 10px 15px;
        background-color: #707070;
        color: #fff; }

/*# sourceMappingURL=style.css.map */
