%nav-btns {
	display: inline-block;
	position: relative;
	top: 185px;
	left: 15px;
}
.reports {
	position: relative;
	.settings-icon {
		position: absolute;
		top: 14px;
		left: 565px;
		background: url('../img/settings-icon.png') no-repeat;
		background-size: 100%;
		display: block;
		width: 18px;
		height: 18px;
		cursor: pointer;
		ul {
			display: none;
			padding: 15px;
			width: 140px;
			position: relative;
			background-color: #898989;
			top: 20px;
			border-radius: 15px;
			z-index: 10;
			li {
				margin: 10px 0;
				padding: 0 5px;
			}
		}
	}
	> div {
		margin-top: 30px;
	}
	a {
		text-decoration: none;
		color: #fff;
		&:hover {
			text-decoration: underline;
		}
	}
}
.dashboard-graph-shim {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(124, 124, 124, 0.8);
	display: none;
	z-index: 10;
	.dashboard-graph-popup-container {
		position: relative;
		margin-top: 5%;
		margin-left: 21%;
		z-index: 100;
		.dashboard-graph-user-container {
			position: absolute;
			top: 382px;
			left: 707px;
			opacity: 0;
			transition: opacity 1s ease-in-out;
			&.show {
				opacity: 1;
			}
			a {
				text-decoration: none;
				padding: 6px 10px;
				background-color: #454545;
				border-radius: 8px;
				color: #fff;
			}
		}
	}
}
.dashboard-container {
	margin-top: 30px;
	position: relative;
	.dashboard-cntrl {
		width: 40px;
		height: 402px;
		position: absolute;
		background-color: #A8A8A8;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		cursor: pointer;
		&.left {
			top: 115px;
			left: 50px;
			&::before {
				content: "<";
				@extend %nav-btns;
			}
		}
		&.right {
			top: 115px;
			right: 45px;
			&::before {
				content: ">";
				@extend %nav-btns;
			}
		}
	}
	.dashboard-window {
		width: 765px;
		overflow: hidden;
		position: absolute;
		top: 85px;
		left: 100px;
	}
	.dashboard-content {
		position: relative;
		margin-top: 30px;
		transition: transform .8s ease-in-out;
		&.slide {
			transform: translateX(-85%);
		}
	}
}
.container-alerts {
	#alert-btn {
		margin-top: 15px;
	}
}
.alert-container {
	width: 370px;
	display: block;
	background-color: #f0f0f0;
	margin-top: 30px;
	padding: 18px 0;
	border-radius: 10px;
	a {
		text-decoration: none;
	}
	.alert-icon {
		font: 30px "open-sans";
		font-weight: bolder;
		padding: 2px 15px;
		margin: 0 20px;
		background-color: #ec3200;
		color: #fff;
		text-decoration: none;
		display: inline-block;
		//transition: animation 1s ease-out;
		&.expand {
			-webkit-animation: growskrink 1.5s 1 ease-in-out;
			animation: growskrink 1.5s 1 ease-in-out;
		}
	}
	.alert-text-container {
		display: inline-block;	
		font-family: "open-sans", arial;
		.alert-red {
			font-weight: bold;
			color: #ec3200;
		}
		.time-notice {
			font-size: 11px;
			position: relative;
			top: 5px;
		}
	}
}

@-webkit-keyframes growskrink {

	25% { transform: scale(1); }
	50% { transform: scale(2); }
	75% { transform: scale(1); }
}

@keyframes growskrink {
	
	25% { transform: scale(1); }
	50% { transform: scale(2); }
	75% { transform: scale(1); }

}
.catalog-selector {
	margin-top: 20px;
}
.app-container {
	overflow: hidden;
	margin-top: 40px;
	border: 1px solid #aaaaaa;
	padding: 10px 5px;
	> * {
		float: left;
	}
	.app-copy-container {
		width: 690px;
		margin-left: 20px;
		.app-copy-head {
			overflow: hidden;
			margin-bottom: 20px;
			margin-top: 15px;
			h3 {
				float: left;
				margin-top: 10px;
				font-size: 25px;
			}
			a {
				float: right;
				text-decoration: none;
				padding: 10px 15px;
				background-color: #707070;
				color: #fff;
			}
		}
	}
}
#default-apps {
	.app-container {
		background-color: #C9C7FF;
	}
}
#hospitality-apps {
	.app-container {
		background-color: #FFFDC7;
	}
}
.app-expand-shim {
	display: none;
	position: absolute;
	width: 100%;
	height: 230%;
	top: 0;
	left: 0;
	background-color: rgba(92,92,92,0.8);
	.app-expanded {
		width: 900px;
		position: absolute;
		bottom: 0;
		left: 18%;
		img {
			cursor: pointer;
		}
	}
}
.app-expand-close {
	position: absolute;
	display: block;
	width: 95px;
	height: 33px;
	right: 283px;
	top: 137px;
}
.account-tabs {
	margin-top: 20px;
	position: relative;
	a {
		text-decoration: none;
	}
}

/***************
***** Tabs CSS *****
***************/

.tabs {
	position: absolute;
	overflow: hidden;
	margin: 0 auto;
	width: 90%;
	font-weight: 300;
	font-size: 1.25em;
	top: 125px;
	left: 45px;
	img {
		width: 100%;
	}
}

/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
}

.tabs nav a span {
	vertical-align: middle;
	font-size: 0.75em;
}

.tabs nav li.tab-current a {
	color: #74777b;
}

.tabs nav a:focus {
	outline: none;
}
/*****************************/
/* Moving Line */
/*****************************/

.tabs-style-linemove nav {
	background: #fff;
}

.tabs-style-linemove nav li:last-child::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: #2CC185;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
/* Content */
.content-wrap {
	position: relative;
}

.content-wrap section {
	display: none;
	margin: 0 auto;
	padding: 1em;
	max-width: 1200px;
	text-align: center;
}

.content-wrap section.content-current {
	display: block;
}

.content-wrap section p {
	margin: 0;
	padding: 0.15em 0;
	color: rgba(40,44,42,0.05);
	font-weight: 900;
	font-size: 4em;
	line-height: 1;
}

/* Move the line */
.tabs-style-linemove nav li:first-child.tab-current ~ li:last-child::before {
	-webkit-transform: translate3d(-400%,0,0);
	transform: translate3d(-400%,0,0);
}

.tabs-style-linemove nav li:nth-child(2).tab-current ~ li:last-child::before {
	-webkit-transform: translate3d(-300%,0,0);
	transform: translate3d(-300%,0,0);
}

.tabs-style-linemove nav li:nth-child(3).tab-current ~ li:last-child::before {
	-webkit-transform: translate3d(-200%,0,0);
	transform: translate3d(-200%,0,0);
}

.tabs-style-linemove nav li:nth-child(4).tab-current ~ li:last-child::before {
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

.tabs-style-linemove nav a {
	padding: 1em 0;
	color: #74777b;
	line-height: 1;
	-webkit-transition: color 0.3s, -webkit-transform 0.3s; 
	transition: color 0.3s, transform 0.3s;
}

.tabs-style-linemove nav li.tab-current a {
	color: #2CC185;
	-webkit-transform: translate3d(0,8px,0);
	transform: translate3d(0,8px,0);
}

.tabs-style-linemove nav a span {
	font-weight: 700;
}