/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.dashboard-container .dashboard-cntrl.left::before, .dashboard-container .dashboard-cntrl.right::before {
  display: inline-block;
  position: relative;
  top: 185px;
  left: 15px; }

.reports {
  position: relative; }
  .reports .settings-icon {
    position: absolute;
    top: 14px;
    left: 565px;
    background: url("../img/settings-icon.png") no-repeat;
    background-size: 100%;
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer; }
    .reports .settings-icon ul {
      display: none;
      padding: 15px;
      width: 140px;
      position: relative;
      background-color: #898989;
      top: 20px;
      border-radius: 15px;
      z-index: 10; }
      .reports .settings-icon ul li {
        margin: 10px 0;
        padding: 0 5px; }
  .reports > div {
    margin-top: 30px; }
  .reports a {
    text-decoration: none;
    color: #fff; }
    .reports a:hover {
      text-decoration: underline; }

.dashboard-graph-shim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(124, 124, 124, 0.8);
  display: none;
  z-index: 10; }
  .dashboard-graph-shim .dashboard-graph-popup-container {
    position: relative;
    margin-top: 5%;
    margin-left: 21%;
    z-index: 100; }
    .dashboard-graph-shim .dashboard-graph-popup-container .dashboard-graph-user-container {
      position: absolute;
      top: 382px;
      left: 707px;
      opacity: 0;
      transition: opacity 1s ease-in-out; }
      .dashboard-graph-shim .dashboard-graph-popup-container .dashboard-graph-user-container.show {
        opacity: 1; }
      .dashboard-graph-shim .dashboard-graph-popup-container .dashboard-graph-user-container a {
        text-decoration: none;
        padding: 6px 10px;
        background-color: #454545;
        border-radius: 8px;
        color: #fff; }

.dashboard-container {
  margin-top: 30px;
  position: relative; }
  .dashboard-container .dashboard-cntrl {
    width: 40px;
    height: 402px;
    position: absolute;
    background-color: #A8A8A8;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer; }
    .dashboard-container .dashboard-cntrl.left {
      top: 115px;
      left: 50px; }
      .dashboard-container .dashboard-cntrl.left::before {
        content: "<"; }
    .dashboard-container .dashboard-cntrl.right {
      top: 115px;
      right: 45px; }
      .dashboard-container .dashboard-cntrl.right::before {
        content: ">"; }
  .dashboard-container .dashboard-window {
    width: 765px;
    overflow: hidden;
    position: absolute;
    top: 85px;
    left: 100px; }
  .dashboard-container .dashboard-content {
    position: relative;
    margin-top: 30px;
    transition: transform .8s ease-in-out; }
    .dashboard-container .dashboard-content.slide {
      transform: translateX(-85%); }

.container-alerts #alert-btn {
  margin-top: 15px; }

.alert-container {
  width: 370px;
  display: block;
  background-color: #f0f0f0;
  margin-top: 30px;
  padding: 18px 0;
  border-radius: 10px; }
  .alert-container a {
    text-decoration: none; }
  .alert-container .alert-icon {
    font: 30px "open-sans";
    font-weight: bolder;
    padding: 2px 15px;
    margin: 0 20px;
    background-color: #ec3200;
    color: #fff;
    text-decoration: none;
    display: inline-block; }
    .alert-container .alert-icon.expand {
      -webkit-animation: growskrink 1.5s 1 ease-in-out;
      animation: growskrink 1.5s 1 ease-in-out; }
  .alert-container .alert-text-container {
    display: inline-block;
    font-family: "open-sans", arial; }
    .alert-container .alert-text-container .alert-red {
      font-weight: bold;
      color: #ec3200; }
    .alert-container .alert-text-container .time-notice {
      font-size: 11px;
      position: relative;
      top: 5px; }

@-webkit-keyframes growskrink {
  25% {
    transform: scale(1); }
  50% {
    transform: scale(2); }
  75% {
    transform: scale(1); } }
@keyframes growskrink {
  25% {
    transform: scale(1); }
  50% {
    transform: scale(2); }
  75% {
    transform: scale(1); } }
.titlebar {
  position: relative; }
  .titlebar .catalog-selector {
    position: absolute;
    top: 50px;
    left: 29px; }
    .titlebar .catalog-selector #catalog-dropdown-options {
      width: 200px;
      font-size: 20px; }

.info-options {
  position: relative; }
  .info-options h3 {
    position: absolute;
    top: 48px;
    left: 31px;
    font-size: 22px; }

.app-container {
  overflow: hidden;
  margin-top: 40px;
  border: 1px solid #aaaaaa;
  padding: 10px 5px; }
  .app-container > * {
    float: left; }
  .app-container .app-copy-container {
    width: 690px;
    margin-left: 20px; }
    .app-container .app-copy-container .app-copy-head {
      overflow: hidden;
      margin-bottom: 20px;
      margin-top: 15px; }
      .app-container .app-copy-container .app-copy-head h3 {
        float: left;
        margin-top: 10px;
        font-size: 25px; }
      .app-container .app-copy-container .app-copy-head a {
        float: right;
        text-decoration: none;
        padding: 10px 15px;
        background-color: #707070;
        color: #fff; }

#default-apps .app-container {
  background-color: #C9C7FF; }

#hospitality-apps .app-container {
  background-color: #FFFDC7; }

.app-expand-shim {
  display: none;
  position: absolute;
  width: 100%;
  height: 230%;
  top: 0;
  left: 0;
  background-color: rgba(92, 92, 92, 0.8); }
  .app-expand-shim .app-expanded {
    width: 900px;
    position: absolute;
    bottom: 0;
    left: 18%; }
    .app-expand-shim .app-expanded img {
      cursor: pointer; }

.app-expand-close {
  position: absolute;
  display: block;
  width: 95px;
  height: 33px;
  right: 283px;
  top: 137px; }

.account-tabs {
  margin-top: 20px;
  position: relative; }
  .account-tabs a {
    text-decoration: none; }

.account-tabs-invite-user .account-tabs-invite-user-individual,
.account-tabs-invite-user .account-tabs-invite-user-multiple {
  width: 100%;
  padding: 30px 0; }
  .account-tabs-invite-user .account-tabs-invite-user-individual > *,
  .account-tabs-invite-user .account-tabs-invite-user-multiple > * {
    display: block; }
  .account-tabs-invite-user .account-tabs-invite-user-individual label,
  .account-tabs-invite-user .account-tabs-invite-user-multiple label {
    text-align: left;
    margin-bottom: 20px; }
  .account-tabs-invite-user .account-tabs-invite-user-individual input[name="individual-user"],
  .account-tabs-invite-user .account-tabs-invite-user-multiple input[name="individual-user"] {
    margin-bottom: 15px; }
  .account-tabs-invite-user .account-tabs-invite-user-individual .browse-files,
  .account-tabs-invite-user .account-tabs-invite-user-multiple .browse-files {
    overflow: hidden; }
    .account-tabs-invite-user .account-tabs-invite-user-individual .browse-files > *,
    .account-tabs-invite-user .account-tabs-invite-user-multiple .browse-files > * {
      display: inline-block;
      float: left; }
    .account-tabs-invite-user .account-tabs-invite-user-individual .browse-files #browse-files-submit,
    .account-tabs-invite-user .account-tabs-invite-user-multiple .browse-files #browse-files-submit {
      margin-bottom: 20px;
      margin-left: 10px; }

/***************
***** Tabs CSS *****
***************/
.tabs {
  position: absolute;
  overflow: hidden;
  margin: 0 auto;
  width: 90%;
  font-weight: 300;
  font-size: 1.25em;
  top: 125px;
  left: 45px; }
  .tabs img {
    width: 100%; }

/* Nav */
.tabs nav {
  text-align: center; }

.tabs nav ul {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  list-style: none;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center; }

.tabs nav ul li {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  text-align: center;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .tabs nav ul li:last-child {
    cursor: pointer; }

.tabs nav a {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.5; }

.tabs nav a span {
  vertical-align: middle;
  font-size: 0.75em; }

.tabs nav li.tab-current a {
  color: #74777b; }

.tabs nav a:focus {
  outline: none; }

/*****************************/
/* Moving Line */
/*****************************/
.tabs-style-linemove nav {
  background: #fff; }

.tabs-style-linemove nav li:last-child::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2CC185;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s; }

/* Content */
.content-wrap {
  position: relative; }

.content-wrap section {
  display: none;
  margin: 0 auto;
  padding: 1em;
  max-width: 1200px;
  text-align: center; }

.content-wrap section.content-current {
  display: block; }

.content-wrap section p {
  margin: 0;
  padding: 0.15em 0;
  color: rgba(40, 44, 42, 0.05);
  font-weight: 900;
  font-size: 4em;
  line-height: 1; }

/* Move the line */
.tabs-style-linemove nav li:first-child.tab-current ~ li:last-child::before {
  -webkit-transform: translate3d(-400%, 0, 0);
  transform: translate3d(-400%, 0, 0); }

.tabs-style-linemove nav li:nth-child(2).tab-current ~ li:last-child::before {
  -webkit-transform: translate3d(-300%, 0, 0);
  transform: translate3d(-300%, 0, 0); }

.tabs-style-linemove nav li:nth-child(3).tab-current ~ li:last-child::before {
  -webkit-transform: translate3d(-200%, 0, 0);
  transform: translate3d(-200%, 0, 0); }

.tabs-style-linemove nav li:nth-child(4).tab-current ~ li:last-child::before {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.tabs-style-linemove nav a {
  padding: 1em 0;
  color: #74777b;
  line-height: 1;
  -webkit-transition: color 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, transform 0.3s; }

.tabs-style-linemove nav li.tab-current a {
  color: #2CC185;
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0); }

.tabs-style-linemove nav a span {
  font-weight: 700; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

/************ Global Styles ************/
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #FFF; }

/* navigation */
nav {
  width: 100%;
  border-bottom: 1px solid #ccc; }
  nav img {
    display: block;
    width: 958px;
    margin: 0 auto; }

.content {
  width: 960px;
  margin: 0 auto; }

.feeds {
  margin: 40px 0;
  overflow: auto; }
  .feeds img {
    float: left; }

ul.accounts-grid {
  display: block;
  width: 894px;
  margin: 0 auto; }
  ul.accounts-grid li {
    display: inline-block;
    width: 200px;
    margin: 0 30px 0 0;
    float: left; }
    ul.accounts-grid li:last-child {
      margin: 0; }

.editor {
  overflow: auto;
  width: 100%; }
  .editor img {
    display: inline-block;
    float: left; }

img.app-card {
  display: block;
  width: 894px;
  margin: 40px auto 0; }

ul.catalog-listing {
  display: block;
  width: 895px;
  margin: 0 auto; }
  ul.catalog-listing li {
    display: inline-block;
    width: 895px;
    margin: 0 0 40px 0;
    float: left; }

img.app-title {
  display: block;
  width: 895px;
  margin: 40px auto 0; }

img.subsection {
  display: block;
  width: 895px;
  margin: 0 auto; }

img.userhead, img.charts {
  display: block;
  width: 834px;
  margin: 40px auto 0; }

/*# sourceMappingURL=style.css.map */
